.16402_3184 { 
	overflow:hidden;
}.e16402_3184 { 
	background-color:rgba(255, 255, 255, 1);
	width:360px;
	height:640px;
	position:absolute;
}.e16402_3185 { 
	box-shadow:0px -2px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(76.14583164453506, 212.4999949336052, 113.42250019311905, 1);
	width:375px;
	height:56px;
	position:absolute;
	left:-8px;
	top:584px;
}.ei16402_3185_16424_3550 { 
	width:24px;
	height:24px;
	position:absolute;
	left:129px;
	top:16px;
}.i16402_3185_16424_3550_16378_5952 { 
	border:1.5px solid rgba(107.00000122189522, 78.00000295042992, 255, 1);
}.ei16402_3185_16424_3550_16378_5952 { 
	width:16.026386260986328px;
	height:15px;
	position:absolute;
	left:3.97265625px;
	top:4.5px;
	border-radius:Symbol(figma.mixed)px;
}.ei16402_3185_16424_3600 { 
	width:24px;
	height:24px;
	position:absolute;
	left:223px;
	top:16px;
}.i16402_3185_16424_3600_16378_6169 { 
	border:1.5px solid rgba(19.0000007674098, 18.000000827014446, 20.000000707805157, 1);
}.ei16402_3185_16424_3600_16378_6169 { 
	width:16px;
	height:12.87145709991455px;
	position:absolute;
	left:4px;
	top:6px;
	border-radius:Symbol(figma.mixed)px;
}.ei16402_3185_16424_3650 { 
	width:24px;
	height:24px;
	position:absolute;
	left:316px;
	top:16px;
}.i16402_3185_16424_3650_16378_5950 { 
	border:1.5px solid rgba(19.0000007674098, 18.000000827014446, 20.000000707805157, 1);
}.ei16402_3185_16424_3650_16378_5950 { 
	width:14.222223281860352px;
	height:16px;
	position:absolute;
	left:5.000000476837158px;
	top:4px;
	border-radius:Symbol(figma.mixed)px;
}.ei16402_3185_16424_3498 { 
	width:24px;
	height:24px;
	position:absolute;
	left:35px;
	top:16px;
}.i16402_3185_16424_3498_16378_6171 { 
	border:1.5px solid rgba(19.0000007674098, 18.000000827014446, 20.000000707805157, 1);
}.ei16402_3185_16424_3498_16378_6171 { 
	width:16.00000762939453px;
	height:15.5px;
	position:absolute;
	left:4.000004291534424px;
	top:4.5px;
	border-radius:Symbol(figma.mixed)px;
}.e16447_3786 { 
	width:221px;
	height:221px;
	position:absolute;
	left:69px;
	top:148px;
	background-image:url(images/4794412_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e16447_3780 { 
	color:rgba(0, 0, 0, 1);
	width:228px;
	height:16px;
	position:absolute;
	left:66px;
	top:402px;
	font-family:K2D;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}.e16469_98 { 
	color:rgba(0, 0, 0, 1);
	width:57px;
	height:16px;
	position:absolute;
	left:151px;
	top:77px;
	font-family:K2D;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}.e16423_579 { 
	width:208px;
	height:208px;
	position:absolute;
	left:76px;
	top:161px;
	background-image:url(images/guy_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}