.16469_1682 { 
	overflow:hidden;
}.e16469_1682 { 
	background-color:rgba(255, 255, 255, 1);
	width:360px;
	height:640px;
	position:absolute;
}.e16469_1683 { 
	box-shadow:0px -2px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(76.14583164453506, 212.4999949336052, 113.42250019311905, 1);
	width:375px;
	height:56px;
	position:absolute;
	left:-8px;
	top:584px;
}.ei16469_1683_16424_3550 { 
	width:24px;
	height:24px;
	position:absolute;
	left:129px;
	top:16px;
}.i16469_1683_16424_3550_16378_5952 { 
	border:1.5px solid rgba(107.00000122189522, 78.00000295042992, 255, 1);
}.ei16469_1683_16424_3550_16378_5952 { 
	width:16.026386260986328px;
	height:15px;
	position:absolute;
	left:3.97265625px;
	top:4.5px;
	border-radius:Symbol(figma.mixed)px;
}.ei16469_1683_16424_3600 { 
	width:24px;
	height:24px;
	position:absolute;
	left:223px;
	top:16px;
}.i16469_1683_16424_3600_16378_6169 { 
	border:1.5px solid rgba(19.0000007674098, 18.000000827014446, 20.000000707805157, 1);
}.ei16469_1683_16424_3600_16378_6169 { 
	width:16px;
	height:12.87145709991455px;
	position:absolute;
	left:4px;
	top:6px;
	border-radius:Symbol(figma.mixed)px;
}.ei16469_1683_16424_3650 { 
	width:24px;
	height:24px;
	position:absolute;
	left:316px;
	top:16px;
}.i16469_1683_16424_3650_16378_5950 { 
	border:1.5px solid rgba(19.0000007674098, 18.000000827014446, 20.000000707805157, 1);
}.ei16469_1683_16424_3650_16378_5950 { 
	width:14.222223281860352px;
	height:16px;
	position:absolute;
	left:5.000000476837158px;
	top:4px;
	border-radius:Symbol(figma.mixed)px;
}.ei16469_1683_16424_3498 { 
	width:24px;
	height:24px;
	position:absolute;
	left:35px;
	top:16px;
}.i16469_1683_16424_3498_16378_6171 { 
	border:1.5px solid rgba(19.0000007674098, 18.000000827014446, 20.000000707805157, 1);
}.ei16469_1683_16424_3498_16378_6171 { 
	width:16.00000762939453px;
	height:15.5px;
	position:absolute;
	left:4.000004291534424px;
	top:4.5px;
	border-radius:Symbol(figma.mixed)px;
}.e16469_1684 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:301px;
	height:387px;
	position:absolute;
	left:28px;
	top:183px;
	border-top-left-radius:48px;
	border-top-right-radius:48px;
	border-bottom-left-radius:48px;
	border-bottom-right-radius:48px;
}.e16469_1685 { 
	background-color:rgba(76.14583164453506, 212.4999949336052, 113.42250019311905, 1);
	width:307px;
	height:127px;
	position:absolute;
	left:25px;
	top:48px;
	border-top-left-radius:48px;
	border-top-right-radius:48px;
	border-bottom-left-radius:48px;
	border-bottom-right-radius:48px;
}.e16469_1686 { 
	background-color:rgba(255, 255, 255, 1);
	width:375px;
	height:44px;
	position:absolute;
	left:-8px;
	top:0px;
}.ei16469_1686_21_140 { 
	color:rgba(9.000000413507223, 10.000000353902578, 10.000000353902578, 1);
	width:33px;
	height:16px;
	position:absolute;
	left:30px;
	top:16px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}.ei16469_1686_21_141 { 
	width:18px;
	height:10px;
	position:absolute;
	left:288px;
	top:20.5px;
}.ei16469_1686_21_142 { 
	background-color:rgba(9.000000413507223, 10.000000353902578, 10.000000353902578, 1);
	width:18px;
	height:10px;
	position:absolute;
	left:0px;
	top:0px;
}.ei16469_1686_21_143 { 
	background-color:rgba(217.8125050663948, 217.8125050663948, 217.8125050663948, 1);
	width:3px;
	height:4px;
	position:absolute;
	left:0px;
	top:6px;
}.ei16469_1686_21_144 { 
	background-color:rgba(217.8125050663948, 217.8125050663948, 217.8125050663948, 1);
	width:3px;
	height:6px;
	position:absolute;
	left:5px;
	top:4px;
}.ei16469_1686_21_145 { 
	background-color:rgba(217.8125050663948, 217.8125050663948, 217.8125050663948, 1);
	width:3px;
	height:8px;
	position:absolute;
	left:10.0001220703125px;
	top:2px;
}.ei16469_1686_21_146 { 
	background-color:rgba(217.8125050663948, 217.8125050663948, 217.8125050663948, 1);
	width:3px;
	height:10px;
	position:absolute;
	left:15px;
	top:0px;
}.ei16469_1686_21_147 { 
	width:15.27237606048584px;
	height:10.965471267700195px;
	position:absolute;
	left:311px;
	top:19px;
}.ei16469_1686_21_148 { 
	background-color:rgba(9.000000413507223, 10.000000353902578, 10.000000353902578, 1);
	width:15.27237606048584px;
	height:10.965471267700195px;
	position:absolute;
	left:0px;
	top:0px;
}.ei16469_1686_21_149 { 
	background-color:rgba(0, 0, 0, 1);
	width:15.27237606048584px;
	height:4.743237495422363px;
	position:absolute;
	left:-6.208425133991113e-7px;
	top:-1.1920928955078125e-7px;
}.ei16469_1686_21_150 { 
	background-color:rgba(0, 0, 0, 1);
	width:9.94901180267334px;
	height:3.6339809894561768px;
	position:absolute;
	left:2.6632072925567627px;
	top:3.7939453125px;
}.ei16469_1686_21_151 { 
	background-color:rgba(0, 0, 0, 1);
	width:4.626293659210205px;
	height:3.3744072914123535px;
	position:absolute;
	left:5.323363780975342px;
	top:7.591064453125px;
}.ei16469_1686_21_152 { 
	width:26.97806167602539px;
	height:13px;
	position:absolute;
	left:332px;
	top:18px;
}.ei16469_1686_21_153 { 
	width:26.97806167602539px;
	height:13px;
	position:absolute;
	left:0px;
	top:0px;
}.ei16469_1686_21_154 { 
	opacity:0.3499999940395355;
	width:25px;
	height:13px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:2.6666667461395264px;
}.i16469_1686_21_154 { 
	border:1px solid rgba(9.000000413507223, 10.000000353902578, 10.000000353902578, 1);
}.ei16469_1686_21_155 { 
	background-color:rgba(9.000000413507223, 10.000000353902578, 10.000000353902578, 1);
	opacity:0.4000000059604645;
	width:1.328037977218628px;
	height:4px;
	position:absolute;
	left:25.6500244140625px;
	top:5px;
}.ei16469_1686_21_156 { 
	background-color:rgba(9.000000413507223, 10.000000353902578, 10.000000353902578, 1);
	width:20.199951171875px;
	height:8.329999923706055px;
	position:absolute;
	left:2.29998779296875px;
	top:2.333251953125px;
	border-radius:1.3333333730697632px;
}.e16469_1687 { 
	color:rgba(36.12499974668026, 36.12499974668026, 36.12499974668026, 1);
	width:244px;
	height:16px;
	position:absolute;
	left:60px;
	top:62px;
	font-family:K2D;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}.e16469_1688 { 
	width:146px;
	height:82px;
	position:absolute;
	left:109px;
	top:87px;
	background-image:url(images/side_eyeing_chloe_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e16469_1690 { 
	border-radius:500px;
	background-color:rgba(90.3124974668026, 90.3124974668026, 90.3124974668026, 1);
	width:63px;
	height:63px;
	position:absolute;
	left:148px;
	top:500px;
}.e16469_1691 { 
	width:72px;
	height:72px;
	position:absolute;
	left:143px;
	top:496px;
	background-image:url(images/butt_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}