.16469_265 { 
	overflow:hidden;
}.e16469_265 { 
	background-color:rgba(255, 255, 255, 1);
	width:360px;
	height:640px;
	position:absolute;
}.e16469_266 { 
	box-shadow:0px -2px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(76.14583164453506, 212.4999949336052, 113.42250019311905, 1);
	width:375px;
	height:56px;
	position:absolute;
	left:-8px;
	top:584px;
}.ei16469_266_16424_3550 { 
	width:24px;
	height:24px;
	position:absolute;
	left:129px;
	top:16px;
}.i16469_266_16424_3550_16378_5952 { 
	border:1.5px solid rgba(107.00000122189522, 78.00000295042992, 255, 1);
}.ei16469_266_16424_3550_16378_5952 { 
	width:16.026386260986328px;
	height:15px;
	position:absolute;
	left:3.97265625px;
	top:4.5px;
	border-radius:Symbol(figma.mixed)px;
}.ei16469_266_16424_3600 { 
	width:24px;
	height:24px;
	position:absolute;
	left:223px;
	top:16px;
}.i16469_266_16424_3600_16378_6169 { 
	border:1.5px solid rgba(19.0000007674098, 18.000000827014446, 20.000000707805157, 1);
}.ei16469_266_16424_3600_16378_6169 { 
	width:16px;
	height:12.87145709991455px;
	position:absolute;
	left:4px;
	top:6px;
	border-radius:Symbol(figma.mixed)px;
}.ei16469_266_16424_3650 { 
	width:24px;
	height:24px;
	position:absolute;
	left:316px;
	top:16px;
}.i16469_266_16424_3650_16378_5950 { 
	border:1.5px solid rgba(19.0000007674098, 18.000000827014446, 20.000000707805157, 1);
}.ei16469_266_16424_3650_16378_5950 { 
	width:14.222223281860352px;
	height:16px;
	position:absolute;
	left:5.000000476837158px;
	top:4px;
	border-radius:Symbol(figma.mixed)px;
}.ei16469_266_16424_3498 { 
	width:24px;
	height:24px;
	position:absolute;
	left:35px;
	top:16px;
}.i16469_266_16424_3498_16378_6171 { 
	border:1.5px solid rgba(19.0000007674098, 18.000000827014446, 20.000000707805157, 1);
}.ei16469_266_16424_3498_16378_6171 { 
	width:16.00000762939453px;
	height:15.5px;
	position:absolute;
	left:4.000004291534424px;
	top:4.5px;
	border-radius:Symbol(figma.mixed)px;
}.e16469_301 { 
	background-color:rgba(255, 255, 255, 1);
	width:375px;
	height:44px;
	position:absolute;
	left:-8px;
	top:0px;
}.ei16469_301_21_140 { 
	color:rgba(9.000000413507223, 10.000000353902578, 10.000000353902578, 1);
	width:33px;
	height:16px;
	position:absolute;
	left:30px;
	top:16px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}.ei16469_301_21_141 { 
	width:18px;
	height:10px;
	position:absolute;
	left:288px;
	top:20.5px;
}.ei16469_301_21_142 { 
	background-color:rgba(9.000000413507223, 10.000000353902578, 10.000000353902578, 1);
	width:18px;
	height:10px;
	position:absolute;
	left:0px;
	top:0px;
}.ei16469_301_21_143 { 
	background-color:rgba(217.8125050663948, 217.8125050663948, 217.8125050663948, 1);
	width:3px;
	height:4px;
	position:absolute;
	left:0px;
	top:6px;
}.ei16469_301_21_144 { 
	background-color:rgba(217.8125050663948, 217.8125050663948, 217.8125050663948, 1);
	width:3px;
	height:6px;
	position:absolute;
	left:5px;
	top:4px;
}.ei16469_301_21_145 { 
	background-color:rgba(217.8125050663948, 217.8125050663948, 217.8125050663948, 1);
	width:3px;
	height:8px;
	position:absolute;
	left:10.0001220703125px;
	top:2px;
}.ei16469_301_21_146 { 
	background-color:rgba(217.8125050663948, 217.8125050663948, 217.8125050663948, 1);
	width:3px;
	height:10px;
	position:absolute;
	left:15px;
	top:0px;
}.ei16469_301_21_147 { 
	width:15.27237606048584px;
	height:10.965471267700195px;
	position:absolute;
	left:311px;
	top:19px;
}.ei16469_301_21_148 { 
	background-color:rgba(9.000000413507223, 10.000000353902578, 10.000000353902578, 1);
	width:15.27237606048584px;
	height:10.965471267700195px;
	position:absolute;
	left:0px;
	top:0px;
}.ei16469_301_21_149 { 
	background-color:rgba(0, 0, 0, 1);
	width:15.27237606048584px;
	height:4.743237495422363px;
	position:absolute;
	left:-6.208425133991113e-7px;
	top:-1.1920928955078125e-7px;
}.ei16469_301_21_150 { 
	background-color:rgba(0, 0, 0, 1);
	width:9.94901180267334px;
	height:3.6339809894561768px;
	position:absolute;
	left:2.6632072925567627px;
	top:3.7939453125px;
}.ei16469_301_21_151 { 
	background-color:rgba(0, 0, 0, 1);
	width:4.626293659210205px;
	height:3.3744072914123535px;
	position:absolute;
	left:5.323363780975342px;
	top:7.591064453125px;
}.ei16469_301_21_152 { 
	width:26.97806167602539px;
	height:13px;
	position:absolute;
	left:332px;
	top:18px;
}.ei16469_301_21_153 { 
	width:26.97806167602539px;
	height:13px;
	position:absolute;
	left:0px;
	top:0px;
}.ei16469_301_21_154 { 
	opacity:0.3499999940395355;
	width:25px;
	height:13px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:2.6666667461395264px;
}.i16469_301_21_154 { 
	border:1px solid rgba(9.000000413507223, 10.000000353902578, 10.000000353902578, 1);
}.ei16469_301_21_155 { 
	background-color:rgba(9.000000413507223, 10.000000353902578, 10.000000353902578, 1);
	opacity:0.4000000059604645;
	width:1.328037977218628px;
	height:4px;
	position:absolute;
	left:25.6500244140625px;
	top:5px;
}.ei16469_301_21_156 { 
	background-color:rgba(9.000000413507223, 10.000000353902578, 10.000000353902578, 1);
	width:20.199951171875px;
	height:8.329999923706055px;
	position:absolute;
	left:2.29998779296875px;
	top:2.333251953125px;
	border-radius:1.3333333730697632px;
}.e16469_483 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(76.0000030696392, 212.00000256299973, 113.00000086426735, 1);
	width:140px;
	height:140px;
	position:absolute;
	left:194px;
	top:153px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}.16469_483 { 
	border:2px solid rgba(76.0000030696392, 212.00000256299973, 113.00000086426735, 1);
}.ei16469_483_16447_3898 { 
	width:76px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
}.ei16469_483_16424_3732 { 
	box-shadow:2px 3px 3.5px rgba(0, 0, 0, 0.25);
	width:42.46666717529297px;
	height:91px;
	position:absolute;
	left:-2.799999952316284px;
	top:25.66666603088379px;
	font-family:K2D;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}.ei16469_483_16447_3801 { 
	width:140px;
	height:140px;
	position:absolute;
	left:0px;
	top:0px;
}.ei16469_483_16447_3804 { 
	transform: rotate(90deg);
	width:140px;
	height:0px;
	position:absolute;
	left:35.46666717529297px;
	top:0px;
}.i16469_483_16447_3804 { 
	border:2px solid rgba(76.0000030696392, 212.00000256299973, 113.00000086426735, 1);
}.e16469_621 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(76.0000030696392, 212.00000256299973, 113.00000086426735, 1);
	width:140px;
	height:140px;
	position:absolute;
	left:197px;
	top:355px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}.16469_621 { 
	border:2px solid rgba(76.0000030696392, 212.00000256299973, 113.00000086426735, 1);
}.ei16469_621_16447_3898 { 
	width:76px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
}.ei16469_621_16424_3732 { 
	box-shadow:2px 3px 3.5px rgba(0, 0, 0, 0.25);
	width:42.46666717529297px;
	height:91px;
	position:absolute;
	left:-2.799999952316284px;
	top:25.66666603088379px;
	font-family:K2D;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}.ei16469_621_16447_3801 { 
	width:140px;
	height:140px;
	position:absolute;
	left:0px;
	top:0px;
}.ei16469_621_16447_3804 { 
	transform: rotate(90deg);
	width:140px;
	height:0px;
	position:absolute;
	left:35.46666717529297px;
	top:0px;
}.i16469_621_16447_3804 { 
	border:2px solid rgba(76.0000030696392, 212.00000256299973, 113.00000086426735, 1);
}.e16469_493 { 
	box-shadow:0px 3px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(157.25000202655792, 157.25000202655792, 157.25000202655792, 1);
	width:135px;
	height:140px;
	position:absolute;
	left:33px;
	top:356px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}.16469_493 { 
	border:2px solid rgba(157.25000202655792, 157.25000202655792, 157.25000202655792, 1);
}.e16469_494 { 
	width:135px;
	height:140px;
	position:absolute;
	left:0px;
	top:0px;
}.e16469_495 { 
	transform: rotate(90deg);
	width:140px;
	height:0px;
	position:absolute;
	left:34.20000076293945px;
	top:0px;
}.16469_495 { 
	border:2px solid rgba(157.25000202655792, 157.25000202655792, 157.25000202655792, 1);
}.e16469_323 { 
	color:rgba(0, 0, 0, 1);
	width:82.58666229248047px;
	height:52.79999923706055px;
	position:absolute;
	left:47px;
	top:43px;
	font-family:K2D;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}.e16469_1417 { 
	width:20px;
	height:20px;
	position:absolute;
	left:17px;
	top:60px;
	background-image:url(images/nana2_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e16469_636 { 
	width:80px;
	height:35px;
	position:absolute;
	left:227px;
	top:444px;
}.e16469_637 { 
	background-color:rgba(0, 0, 0, 1);
	width:80px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e16469_638 { 
	color:rgba(255, 255, 255, 1);
	width:53px;
	height:16px;
	position:absolute;
	left:13px;
	top:9px;
	font-family:K2D;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}.e16469_264 { 
	width:140px;
	height:140px;
	position:absolute;
	left:31px;
	top:153px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
	background-image:url(images/photo_6276116288535377631_y_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e16469_1415 { 
	width:25px;
	height:25px;
	position:absolute;
	left:218px;
	top:209px;
	background-image:url(images/guy_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e16469_1416 { 
	width:30px;
	height:26px;
	position:absolute;
	left:49px;
	top:213px;
	background-image:url(images/girl2_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e16469_563 { 
	width:300px;
	height:162px;
	position:absolute;
	left:19px;
	top:194px;
}.e16469_631 { 
	color:rgba(0, 0, 0, 1);
	width:82.58666229248047px;
	height:52.79999923706055px;
	position:absolute;
	left:64px;
	top:197px;
	font-family:K2D;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}.e16469_632 { 
	color:rgba(0, 0, 0, 1);
	width:82.58666229248047px;
	height:52.79999923706055px;
	position:absolute;
	left:230px;
	top:195px;
	font-family:K2D;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}.e16469_633 { 
	width:24px;
	height:24px;
	position:absolute;
	left:204px;
	top:405px;
}.i16469_633_16378_5954 { 
	border:1.5px solid rgba(19.0000007674098, 18.000000827014446, 20.000000707805157, 1);
}.ei16469_633_16378_5954 { 
	width:16.026397705078125px;
	height:15px;
	position:absolute;
	left:3.97265625px;
	top:4.5px;
	border-radius:Symbol(figma.mixed)px;
}.e16469_635 { 
	color:rgba(0, 0, 0, 1);
	width:163px;
	height:16px;
	position:absolute;
	left:235px;
	top:408px;
	font-family:K2D;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}.e16469_658 { 
	color:rgba(0, 0, 0, 1);
	width:163px;
	height:15px;
	position:absolute;
	left:228px;
	top:100px;
	font-family:K2D;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}.e16469_662 { 
	width:426px;
	height:45px;
	position:absolute;
	left:-19px;
	top:62px;
	background-image:url(images/load_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}